.main {
  /* Home */
  &__home {
    padding: 0 9vw;

    &--container {
      //border: 1px solid $white;

      width: 100%;
      height: 60rem;
      position: relative;
    }

    &--hero {
      &-text {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        overflow: hidden;

        h1 {
          font-family: 'Playfair Display', serif;
          font-weight: 500;
          font-size: 20rem;
          text-transform: uppercase;
          color: #ffffff;
          display: inline-block;
        }
      }

      &-image {
        // border: 1px solid red;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 2;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    &--quotes {
      width: 100%;
      height: 100%;

      .quote {
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 3rem;
        color: #ffffff;
        position: absolute;
        overflow: hidden;

        &-text {
        }

        &:nth-child(1) {
          left: 22%;
          top: 20%;
        }
        &:nth-child(2) {
          left: 63%;
          top: 29%;
        }
        &:nth-child(3) {
          left: 24%;
          top: 73%;
        }
        &:nth-child(4) {
          left: 59%;
          top: 81%;
        }
      }
    }
  }

  /* Meat */
  &__menu {
    padding: 0 9vw;

    &--container {
      width: 100%;
      border-top: 2px solid #ffffff;
      position: relative;
    }

    &--header {
      color: $white;
      font-size: 7rem;
      font-weight: 600;
      margin: 2rem 0 2rem 6rem;
    }

    &--gallery {
      margin: 10rem 0;

      &-row {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
      }

      &-col {
        width: 30%;
        margin-bottom: 5rem;
      }
    }

    &--dishe {
      text-align: center;

      &-image {
        width: 100%;
        margin-bottom: 2rem;
        position: relative;
        box-shadow: 0 5px 10px rgba($black, 0.8);
        overflow: hidden;

        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($black, 0.4);
          z-index: 10;
        }

        img {
          width: 100%;
          height: auto;
          transition: all 1s ease-in;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      &-text {
        text-transform: capitalize;
        color: $white;
        font-weight: 600;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
